* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  padding: 0.4rem;
  height: 80px;
}
.logo img {
  height: 100%;
}

.top-header {
  height: 25px;
  background-color: #0082F9;
}

.top {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top h5 {
  color: white;
  margin-left: 1rem;
}

ul li {
  padding: 0.2rem;
  display: inline;
  list-style: none;
}

.row-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.hero {
  position: relative;
  height: 450px;
  width: 100%;
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}
.hero .hero-tag {
  line-height: 1.5rem;
  padding: 0.4rem;
  background: #0082F9;
  color: white;
  position: absolute;
  bottom: -0.95rem;
}

.cards {
  justify-content: space-between;
  background-color: #1C1C1C;
}
.cards .container {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16.6666666667%;
  height: 250px;
  padding: 1rem;
}
.cards .container .card .card-logo {
  height: 80%;
}
.cards .container .card .card-logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .container .card .card-text {
  white-space: normal;
  font-size: smaller;
  margin-top: 0.3rem;
  color: white;
  text-align: center;
  height: 20%;
}

.bottomAdv {
  padding: 1rem 0;
  background-color: #0082F9;
}
.bottomAdv .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bottomAdv .container .adv-content {
  width: 20%;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.bottomAdv .container .adv-content .adv-photo {
  width: 20%;
  margin-right: 0.5rem;
}
.bottomAdv .container .adv-content .adv-photo .adv-logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.container {
  width: 85%;
  margin: auto;
}